*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:coral;
}

main{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

img{
    width: 30vw;
    height:40vh;
    object-fit: contain;
}

.description{
    width: 30vw;
}