*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color:coral;
}

/* Inicio Header */
nav{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 80px;
    border-radius: 50%;
}

ul{
    display: flex;
}

ul li{
    margin: 5px;
}

nav a{
    color: white;
}

/* Fin Header */



/* Inicio Main index*/

main{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

.card img{
    width: 30vw;
    height:40vh;
    object-fit: contain;
}
.card .vetstreet_url a{
    color: white;
}

.description{
    width: 30vw;
}

/* Fin Main index*/


/* Inicio Main raza */

.card .raza{
    text-align: center;
}
.card .info{
    text-align: right;
}

.card .info a {
    color: white;
}

/* Fin Main raza */